.fieldrow {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 24px;
    margin: 12px 0 8px 0;
}

.toggle, .toggle > div {
    margin-bottom: 4px!important;
}

.supported {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 12px;
}

.actions {
    display: flex;
    justify-content: flex-end;
}